<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1>Projeto</h1>
    <p>O projeto consiste na criação de um servidor e de algumas rotas para abertura de diversos tipos de arquivo.</p>
    <h2>Integrantes do grupo</h2>
    <ul>
        <li>Nome: Fernando Matheus dos Santos</li>
        <li>Rgm: 29645263</li>
    </ul>
</body>
</html>